<div class="sidebar">
    <div class="container sidebar-sticky">
      <div class="sidebar-about">
        <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
        <p class="lead">
        data analyst, francophile, currently doing data science at Indigo
        </p>
      </div>
  
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}">Blog</a> </li>
        {{ range .Site.Menus.main }}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{end}}
      </ul>

      <ul class="sidebar-nav" style="list-style: none; font-size: 15px;">
        <li>
            <a href="https://github.com/datatheque">github</a>
        </li>
        <li><a href="https://www.kaggle.com/datatheque">kaggle</a></li>
        <li><a href="https://twitter.com/datatheque">twitter</a></li>
        <li><a href="https://www.linkedin.com/in/gracetenorio/">linkedin</a></li>
      </ul>
  
      <p class="copyright">{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</p>
    </div>
  </div>  